[submodule "external/word-packing"]
	path = external/word-packing
	url = https://github.com/pdinklag/word-packing
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest/
[submodule "external/tlx"]
	path = external/tlx
	url = https://github.com/tlx/tlx
[submodule "external/malloc_count"]
	path = external/malloc_count
	url = https://github.com/bingmann/malloc_count
[submodule "external/lz-end-toolkit"]
	path = external/lz-end-toolkit
	url = https://github.com/dominikkempa/lz-end-toolkit
[submodule "external/EWAHBoolArray"]
	path = external/EWAHBoolArray
	url = git@github.com:lemire/EWAHBoolArray.git
